@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 205 210 230;
  --background-rgb: 5 6 30;
  --border-rgb: 226 232 255;
  --grad-purple-rgb: 153 104 255;
  --grad-pink-rgb: 255 108 178;
  --grad-orange-rgb: 255 175 86;
  --purpleshine-rgb: 202 183 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}

@keyframes orbit-reverse {
  0% {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
  100% {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
}
