@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 205 210 230;
  --background-rgb: 0 0 28;
  --border-rgb: 226 232 255;
  --grad-purple-rgb: 150 20 230;
  --grad-pink-rgb: 255 108 178;
  --grad-orange-rgb: 251 91 36;
  --purpleshine-rgb: 150 20 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
}

@keyframes orbit-reverse {
  0% {
    transform: rotate(360deg) translateX(110px) rotate(-360deg);
  }
  100% {
    transform: rotate(0deg) translateX(110px) rotate(0deg);
  }
}

.button-border {
  mask-image: radial-gradient(
    at top left,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.radial-blur-bg {
  background-image: radial-gradient(
    at top center,
    rgb(var(--border-rgb) / 0) 50%,
    rgb(var(--border-rgb) / 0.1) 100%
  );
}
